{% extends "./base.html" %}

{% block content %}
	<div class = "caption">
		{% block caption %}
		<span> New Questions </span>
		<span class = "extra"> <a href = "{% url 'askKruglov_app:hot' %}"> Hot Questions </a> </span>
		{% endblock %}
	</div>

	{% for question in questions %}
	<div class = "message">
		<div class = "row">
			<div class = "col-md-2">
				<div class = "author">
					<img src = "/avatar.jpg" alt = "Avatar" class = "img-rounded img-thumbnail">
					{{ question.author }}
					<div class = "btn-group btn-group-sm">
						<button type = "button" class = "btn btn-default"> <span class = "glyphicon glyphicon-arrow-down"> </span> </button>
						<button type = "button" class = "btn btn-default disabled"> {{ question.likes }} </button>
						<button type = "button" class = "btn btn-default"> <span class = "glyphicon glyphicon-arrow-up"> </span> </button>
					</div>
				</div>
			</div>
			<div class = "col-md-10">
				<div class = "caption">
					<a href = "{% url 'askKruglov_app:question' question.id %}"> 
						{{ question.title }}
					</a>
				</div>
				{{ question.body }} 
				<br>
				<a class = "number" href = "{% url 'askKruglov_app:question' question.id %}"> 
					<h4> Answer ({{ question.answers }}) </h4> 
				</a> 
				<div class = "tags"> 
					Tags:
					{% for tag in question.tags %}
					<span>
						<a href = "{% url 'askKruglov_app:tag' tag %}"> {{ tag }}</a>
					</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{% endfor %}

	{% block paginator %}
	<div class = "paginator">
		<div class = "btn-group btn-group-lg">
			{% if questions.has_previous %}
			<a href = "{% url 'askKruglov_app:index' 1 %}"><button type = "button" class = "btn btn-default"> &lt;&lt; </button></a>
			<a href = "{% url 'askKruglov_app:index' questions.previous_page_number %}"><button type = "button" class = "btn btn-default"> {{questions.previous_page_number}} </button></a>
			{% endif %}

			<a><button type = "button" class = "btn btn-success"> {{ questions.number }} </button></a>

			{% if questions.has_next %}
			<a href = "{% url 'askKruglov_app:index' questions.next_page_number %}"><button type = "button" class = "btn btn-default"> {{questions.next_page_number}} </button></a>
			<a href = "{% url 'askKruglov_app:index' questions.paginator.num_pages %}"><button type = "button" class = "btn btn-default"> &gt;&gt; </button></a>
			{% endif %}
		</div>
	</div>
	{% endblock %}

{% endblock %}
