<div class = "paginator">
	<div class = "btn-group btn-group-lg">
		{% if questions.has_previous %}
		<a href = "{% url url_name.0 url_name.1 1 %}"><button type = "button" class = "btn btn-default"> &lt;&lt; </button></a>
		<a href = "{% url url_name.0 questions.previous_page_number %}"><button type = "button" class = "btn btn-default"> {{questions.previous_page_number}} </button></a>
		<!-- <a href = "{% block url_ll %} {% endblock %}"><button type = "button" class = "btn btn-default"> &lt;&lt; </button></a> -->
		<!-- <a href = "{% block url_l %} {% endblock %}"><button type = "button" class = "btn btn-default"> {{questions.previous_page_number}} </button></a> -->
		{% endif %}

		<a><button type = "button" class = "btn btn-success"> {{ questions.number }} </button></a>

		{% if questions.has_next %}
		<a href = "{% url url_name.0  questions.next_page_number %}"><button type = "button" class = "btn btn-default"> {{questions.next_page_number}} </button></a>
		<!-- <a href = "{% block url_r %} {% endblock %}"><button type = "button" class = "btn btn-default"> {{questions.next_page_number}} </button></a> -->
		<a href = "{% url url_name.0  questions.paginator.num_pages %}"><button type = "button" class = "btn btn-default"> &gt;&gt; </button></a>
		<!-- <a href = "{% block url_rr %} {% endblock %}"><button type = "button" class = "btn btn-default"> &gt;&gt; </button></a> -->
		{% endif %}
	</div>
</div>