{% extends "./base.html" %}

{% block content %}
<div class = "main-message">
	<div class = "row">
		<div class = "col-md-3">
			<div class = "author">
				<img src = "{{ question.author.avatar.url }}" alt = "Avatar" class = "img-rounded img-thumbnail">
				{{ question.author }}
				<div class = "btn-group btn-group-lg">
					<button type = "button" class = "btn btn-default"> <span class = "glyphicon glyphicon-arrow-down"> </span> </button>
					<button type = "button" class = "btn btn-default disabled"> {{ question.likes }} </button>
					<button type = "button" class = "btn btn-default"> <span class = "glyphicon glyphicon-arrow-up"> </span> </button>
				</div>
			</div>
		</div>

		<div class = "col-md-9">
			<div class = "caption"> 
				{{ question.title }}
			</div>
			{{ question.text }}
			<br>
			<div class = "tags"> 
				<!-- Tags: -->
					{% for tag in question.tags.all %}
					<span>
						<a href = "{% url 'askKruglov_app:tag' tag %}"> {{ tag }}</a>
					</span>
					{% endfor %}
			</div>
		</div>
	</div>
</div>

{% for answer in page %}
<div class = "message">
	<div class = "row">
		<div class = "col-md-2">
			<div class = "author">
				<img src = "{{ answer.author.avatar.url }}" alt = "Avatar" class = "img-rounded img-thumbnail">
				{{ answer.author }}
				<div class = "btn-group btn-group-sm">
					<button type = "button" class = "btn btn-default"> <span class = "glyphicon glyphicon-arrow-down"> </span> </button>
					<button type = "button" class = "btn btn-default disabled"> {{ answer.likes }} </button>
					<button type = "button" class = "btn btn-default"> <span class = "glyphicon glyphicon-arrow-up"> </span> </button>
				</div>
			</div>
		</div>
		<div class = "col-md-10">
			{{ answer.text }}
			<br>
			<br>
			{% if user.id == question.author.id %}
			<div class="checkbox tags">
				<label>
					<input type="checkbox" value=""> Correct!
				</label>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}

{% block paginator %}
	{% url "askKruglov_app:question" id as page_url %} 
	{% include "./paginator.html" %}
{% endblock %}

{% if user.is_authenticated %}
<div class = "answer-form">
	<div class = "row">
		<div class = "col-md-2">
			<div class = "author">
				<img src = "{{ user.profile.avatar.url }}" alt = "Avatar" class = "img-rounded img-thumbnail">
			 	{{ user.username }}
			</div>
		</div>
		<div class = "col-md-10">
			<form class = "form-horizontal" action = "{% url 'askKruglov_app:question' question.id %}", method = "POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<!-- <textarea class = "form-control input-lg" maxlength = "256" placeholder = "Enter your answer here." rows = "5"></textarea> -->
				{{ form.text.errors }}
				{{ form.text }}
				<br>
				<button type = "submit" class = "btn btn-default button-text"> Answer </button>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}