{% extends "./base.html" %}

{% block content %}
<div class = "caption">
	New Question
</div>

<br>

<div class = "form">
	<form class = "form-horizontal" method = "POST">

		{% csrf_token %}
		
		{{ form.non_field_errors }}

		<div class = "form-group">
			<div class = "col-md-2">
				<label class = "control-label"> Title </label>
			</div>
			
			<div class = "col-md-8">
				{{ form.title }}
			</div>

			<div class = "col-md-2">
				{{ form.title.errors }}
			</div>
		</div>

		<div class = "form-group">
			<div class = "col-md-2">
				<label class = "control-label"> Text </label>
			</div>

			<div class = "col-md-8">
				{{ form.text }}
			</div>

			<div class = "col-md-2">
				{{ form.text.errors }}
			</div>
		</div>

		<div class = "form-group">
			<div class = "col-md-2">
				<label class = "control-label"> Tags </label>
			</div>

			<div class = "col-md-8">
				{{ form.tags }}
			</div>

			<div class = "col-md-2">
				{{ form.tags.errors }}
			</div>
		</div>

		<div class = "form-group">
			<div class = "col-md-offset-2 col-md-10">
				<button type = "submit" class = "btn btn-lg btn-default">
					<div class = "button-text"> Ask! </div>
				</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}