{% extends "./base.html" %}

{% block content %}
<div class = "main-message">
	<div class = "row">
		<div class = "col-md-3">
			<div class = "author">
				<img src = "{{ question.author.avatar.url }}" alt = "Avatar" class = "img-rounded img-thumbnail">
				<br>
				{{ question.author }}
				<br>
				<div class = "btn-group btn-group-lg">

					<button type = "button" class = "btn btn-default js-like-question" data-type = "0" data-id = "{{ question.id }}"> 
						<span class = "glyphicon glyphicon-arrow-down"> </span> 
					</button>
					
					<button type = "button" class = "btn btn-default disabled" id = "question-{{ question.id }}-likes"> {{ question.likes }} </button>
				
					<button type = "button" class = "btn btn-default js-like-question" data-type = "1" data-id = "{{ question.id }}"> 
						<span class = "glyphicon glyphicon-arrow-up"> </span> 
					</button>
				
				</div>
			</div>
		</div>

		<div class = "col-md-9">
			<div class = "caption"> 
				{{ question.title }}
			</div>
			{{ question.text }}
			<br>
			<div class = "tags"> 
					{% for tag in question.tags.all %}
					<span>
						<a href = "{% url 'askMe_app:tag' tag %}"> {{ tag }}</a>
					</span>
					{% endfor %}
			</div>
		</div>
	</div>
</div>

{% for answer in page %}
<div class = "message">
	<div class = "row">
		<div class = "col-md-2">
			<div class = "author">
				<img src = "{{ answer.author.avatar.url }}" alt = "Avatar" class = "img-rounded img-thumbnail">
				<br>
				{{ answer.author }}
				<br>
				<div class = "btn-group btn-group-sm">

					<button type = "button" class = "btn btn-default js-like-answer" data-type = "0" data-id = "{{ answer.id }}"> 
						<span class = "glyphicon glyphicon-arrow-down"> </span> 
					</button>
					
					<button type = "button" class = "btn btn-default disabled" id = "answer-{{ answer.id }}-likes"> {{ answer.likes }} </button>
					
					<button type = "button" class = "btn btn-default js-like-answer" data-type = "1" data-id = "{{ answer.id }}"> 
						<span class = "glyphicon glyphicon-arrow-up"> </span> 
					</button>
			
				</div>
			</div>
		</div>
		<div class = "col-md-10">
			{{ answer.text }}
			<br>
			<br>

			{% if user.id == question.author.id %}
				{% if answer.correct %}
				<div class="checkbox tags">
					<label>
						<input type="checkbox" class = "correct" id = "{{ answer.id }}-correct" data-id = "{{ answer.id }}" checked> Correct! </input>
					</label>
				</div>
				{% else %}
				<div class="checkbox tags">
					<label>
						<input type="checkbox" class = "correct" id = "{{ answer.id }}-correct" data-id = "{{ answer.id }}" > Correct! </input>
					</label>
				</div>
				{% endif %}
			{% else %}
				{% if answer.correct %}
					<div class="checkbox tags">
						<label>
							<input type="checkbox" disabled checked> Correct! </input>
						</label>
					</div>
				{% endif %}
			{% endif %}

		</div>
	</div>
</div>
{% endfor %}

{% block paginator %}
	{% url "askMe_app:question" id as page_url %} 
	{% include "./paginator.html" %}
{% endblock %}

{% if user.is_authenticated %}
<div class = "answer-form">
	<div class = "row">
		<div class = "col-md-2">
			<div class = "author">
				<img src = "{{ user.profile.avatar.url }}" alt = "Avatar" class = "img-rounded img-thumbnail">
			 	{{ user.username }}
			</div>
		</div>
		<div class = "col-md-10">
			<form class = "form-horizontal" action = "{% url 'askMe_app:question' question.id %}", method = "POST">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<!-- <textarea class = "form-control input-lg" maxlength = "256" placeholder = "Enter your answer here." rows = "5"></textarea> -->
				{{ form.text.errors }}
				{{ form.text }}
				<br>
				<button type = "submit" class = "btn btn-default button-text"> Answer </button>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}